aiohttp==3.7.4
async-timeout==3.0.1
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
cycler==0.10.0
emoji==0.5.4
idna==2.8
kiwisolver==1.1.0
matplotlib==3.1.2
mecab-python3==0.996.2
multidict==4.7.2
neologdn==0.4
numpy==1.18.0
oseti==0.2
pyparsing==2.4.5
python-dateutil==2.8.1
python-dotenv==0.10.3
requests==2.22.0
sengiri==0.2.1
six==1.13.0
urllib3==1.25.7
yarl==1.4.2
